 :root {
     --ff-abril-fatface: 'Petrov Sans-Trial', sans-serif;
     --mikado-yellow: #f2925f;
 }

 li {
     list-style: none;
 }

 a {
     text-decoration: none;
 }

 a * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: var(--ff-abril-fatface);
 }

 html {
     font-family: var(--ff-abril-fatface);
     font-size: 10px;
     scroll-behavior: smooth;
     max-width: 100%;
     overflow-x: hidden;
 }

 body {

     min-height: 100vh;
     background: #fffcfa;
     margin: 0;
 }

 .container {
     position: relative;
     max-width: 1350px;
     margin: 50px auto;
     width: 90%;
 }

 .rtl {
     direction: rtl;
     text-align: right;
 }

 .arabicFont {
     font-family: 'Cairo', sans-serif;
  
 }

 .container,
 section,
 header,

 main {
     max-width: 100% !important;
     overflow-x: hidden !important;
 }

 /*-----------------------------------------------------------------------------------------------------------------------------------------------------------*\
  #HEADER
\*-----------------------------------*/

 .header {
     background: #4b4f4d;
     padding-block: 10px;
     height: 7rem;
     overflow: hidden;
     transition: 0.25s cubic-bezier(0.33, 0.85, 0.56, 1.02);

 }

 .header.active {
     height: 425px;
     transition-duration: 0.35s;
 }

 .header .containerh {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
 }

 .logo {
     color: hsl(0, 0%, 100%);
     font-size: 2.4rem;
     font-family: 'Abril Fatface';
     font-weight: 600;
     display: flex;
     justify-items: center;
     align-items: baseline;
 }

 .logo p {
     font-size: 1.8rem;
     margin-left: 3px;
     font-family: none;
 }

 .BackToHome {
     margin: 0;
     border: none;
     background: none;
 }

 .BackToHome a {
     color: #f0eeef;
     font-size: 50px;
 }

 /* villa---------------------------------------------------- */

 .carousel {
     width: 100vw;
     height: 100vh;
     overflow: hidden;
     position: relative;
 }

 .carousel .list .item {
     position: absolute;
     inset: 0 0 0 0;
 }

 .carousel .list .item img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .container .content {
    padding: 20px;
background: #b3b0b0;
 }
 .container .content .auther{
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .container .content .topic{
    font-size: 40px;
    font-family: 'Petrov Sans-Trial', sans-serif;
    color: #fe7b35;
 } 
 .container .content  .des{
    font-size: 20px;
    color: #525252;
    margin-bottom: 5px;
 }
  .container .content .checked{
    color: #fe7b35;
  }
 .carousel .list .item .content .auther {
     font-weight: bold;
     letter-spacing: 10px;
 }

 .carousel .list .item .content .title,
 .carousel .list .item .content .topic {
     font-weight: bold;
     font-size: 5em;
     list-style: none;

 }

 .carousel .list .item .content .topic {
     color: #f2925f;
 }

 .thunbnail {
     position: absolute;
     bottom: 50px;
     left: 50%;
     width: max-content;
     z-index: 100;
     display: flex;
     gap: 20px;
 }

 .thunbnail .item {
     width: 150px;
     height: 220px;
     flex-shrink: 0;
     position: relative;
 }

 .thunbnail .item img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 20px;

 }

 .thunbnail .item .contents {
     position: absolute;
     bottom: 10px;
     left: 10px;
     right: 10px;
     color: aliceblue;
     font-size: larger;
 }

 .thunbnail .item .contents .title {
     font-weight: bold;
 }

 .arrows {
     position: absolute;
     top: 80%;
     right: 52%;
     width: 300px;
     max-width: 30%;
     display: flex;
     gap: 10px;
     align-items: center;
 }

 .arrows button {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: rgba(29, 28, 28, 0.663);
     border: none;
     font-family: monospace;
     color: aliceblue;
     font-weight: bold;
     font-size: large;
     transition: .5s;
     z-index: 100;
 }

 .arrows button:hover {
     background-color: #f0eeef;
     color: black;
 }

 .carousel .list .item:nth-child(1) {
     z-index: 1;
 }

 .carousel .list .item:nth-child(1) .auther,
 .carousel .list .item:nth-child(1) .title,
 .carousel .list .item:nth-child(1) .topic,
 .carousel .list .item:nth-child(1) .des {
     transform: translateY(50px);
     filter: blur(20px);
     opacity: 0;
     animation: showcontent 0.5s 1s linear 1 forwards;
 }

 @keyframes showcontent {
     to {
         opacity: 1;
         filter: blur(0);
         transform: translateY(0);
     }
 }

 .carousel .list .item:nth-child(1) .title {
     animation-delay: 1.2s;
 }

 .carousel .list .item:nth-child(1) .topic {
     animation-delay: 1.4s;
 }

 .carousel .list .item:nth-child(1) .des {
     animation-delay: 1.6s;
 }

 /* effect next img  */
 .carousel.next .list .item:nth-child(1) img {
     width: 150px;
     height: 220px;
     position: absolute;
     left: 50%;
     bottom: 50px;
     border-radius: 20px;
     animation: showimgs 0.5s linear 1 forwards;

 }

 @keyframes showimgs {
     to {
         width: 100%;
         height: 100%;
         left: 0;
         bottom: 0;
         border-radius: 0;
     }
 }

 .carousel.next .thunbnail .item:nth-last-child(1) {
     width: 0;
     overflow: hidden;
     animation: showthunbnail 0.5s linear 1 forwards;

 }

 @keyframes showthunbnail {
     to {
         width: 150px;
     }
 }

 .carousel.next .thunbnail {
     transform: translateX(150px);
     animation: transformthunail 0.5s linear 1 forwards;
 }

 @keyframes transformthunail {
     to {
         transform: translateX(0);
     }
 }


 /* effect prev img  */
 .carousel.prev .list .item:nth-child(2) {
     z-index: 2;
 }

 .carousel.prev .list .item:nth-child(2) img {
     position: absolute;
     bottom: 0;
     left: 0;
     animation: outimg 0.5s linear 1 forwards;
 }

 @keyframes outimg {
     to {
         width: 150px;
         height: 220px;
         border-radius: 20px;
         left: 50%;
         bottom: 50px;

     }
 }

 .carousel.prev .thunbnail .item:nth-child(1) {
     width: 0;
     overflow: hidden;
     opacity: 0;
     animation: showthunbnail 0.5s linear 1 forwards;
 }


 .carousel.prev .list .item:nth-child(2) .auther,
 .carousel.prev .list .item:nth-child(2) .title,
 .carousel.prev .list .item:nth-child(2) .topic,
 .carousel.prev .list .item:nth-child(2) .des {
     animation: contentout 1.5s linear 1 forwards;
 }


 @keyframes contentout {
     to {
         transform: translateY(-150px);
         filter: blur(20px);
         opacity: 0;
     }
 }



 .carousel.prev .arrows button,
 .carousel.next .arrows button {
     pointer-events: none;
 }

 .time {
     width: 0%;
     height: 5px;
     background-color: #f2925f;
     position: absolute;
     z-index: 100;
     top: 0;
     left: 0;

 }

 .carousel.next .time,
 .carousel.prev .time {
     width: 100%;
     animation: timeRunning 2s linear 1 forwards;
 }

 @keyframes timeRunning {
     to {
         width: 0;
     }
 }


@media screen and (max-width:678px){
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
     .container .content .auther{
    font-size: 20px;
    }
 .container .content .topic{
    font-size: 30px;
  
 } 
 .container .content  .des{
    font-size: 12px;
    
 }
}

































 /* .villa_1 {
     background: #ececec;
     min-height: 80vh;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding-top: 10px;
     margin-bottom: 20px;
 }

 .slides {
     height: 70vh;
     width: 95%;
     overflow: hidden;
     position: relative;
    
 }

 .slide {
     position: absolute;
     height: 100%;
     opacity: 0;
     inset: 0;
     animation: slideshow 12s infinite;
 }

 .slide img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
 }

 .silde-2 {
     animation-delay: 4s;
 }

 .silde-3 {
     animation-delay: 8s;
 }

 @keyframes slideshow {
     0% {
         opacity: 0;
     }

     10% {
         opacity: 1;
     }

     20%,
     30% {
         opacity: 1;
         scale: 1.03;
     }

     50% {
         opacity: 0;
     }
 }


h1 {
  font-size: 24px;
  color: #f2925f;
}




 @media (min-width: 992px) {
     .villa_1 {
justify-content: space-between;
padding: 10px;
 }
 .slides {
     height: 50vh;
     width: 50%;
    }
    .slide_content{
        width: 40%;
    }
 }

  @media (max-width: 450px) {
     .villa_1 {
     padding: 2px;
     min-height: 30vh;
     }
 .slides {
     height: 30vh;
     width: 100%;
   
    }
    .slide_content{
        width: 100%;
    }
  } */